.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:65px;
    padding-top: 30px;
    padding-left: 255px;
    border: 1px solid #ccc;
    padding-bottom: .8%;
    box-shadow: .5px .5px .5px #f0f0f0;
}

.container li{
    list-style:none;
    font-weight: 500;
}

.active{
    color:#D10024;
    border-bottom: 2px solid #D10024;
}

@media screen and (max-width:1100px) {
    .container{
        gap: 6%;
        padding: 5% 0%;
        justify-content: center;
    }
}