.containerImgPopular {
  display: flex;
  flex-direction: row;
  width: 65vw;
  height: 40vh;
  gap: 20px;
}

.image {
  border: 2px solid var(--border-color);
  padding: 1%;
  text-align: center;
  position: relative;
}

.image img {
  width: 100%;
}

.add {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.thumbnail {
  border-bottom: 2px solid var(--border-color);
}

.productPrice {
  padding-top: 2%;
  color: rgba(173, 35, 35, 0.952);
}

.myToast {
  background-color: var(--border-color);
}

.myProgress {
  background-color: #00ffbf !important;
}
