.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 62%;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  width: 100vw;
  color: #272525ee;
  height: 13.5vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
  font-size: 35px !important;
  color: #000;
}

.logoLink {
  text-decoration: none;
}

.navIcons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.iconButton {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 6vh;
  background-color: #f8f7f7bb;
  color: var(--primary-color);
  border: 2px solid var(--border-color);
  cursor: pointer;
}
.dot {
}

.containerIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.notification {
  position: absolute;
  top: -10%;
  z-index: 100;
  background-color: var(--primary-color);
  right: 7%;
  font-size: 14px;
  border-radius: 50%;
  padding: 1.5%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  box-shadow: 1px 1px 0.5px #313030;
}

.containerInput input {
  width: 20vw;
  height: 3.7vh;
  border-radius: 10px 0 0 10px;
}

.containerInput button {
  height: 3.7vh;
  width: 5vw;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 0 10px 10px 0;
  border: 1px solid transparent;
}

@media screen and (max-width: 1400px) {
  .container {
    gap: 10%;
  }

  .iconButton {
    width: 14vw;
    height: 6vh;
  }
}
