.all {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: start;
}

.container {
  margin: auto;
  padding-top: 4%;
  position: relative;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #31313138;
  background-color: rgb(253, 253, 253);
  margin-bottom: 3.5%;
  padding: 2% 3.5%;
  width: 30vw;
  border-radius: 5px;
}

.containerQuantity {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.quantity {
  font-weight: 500;
  font-size: 17px;
}

.rightPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-right: 2%;
}
.minus,
.plus {
  background-color: #242424bb;
  color: #f8f8f8;
  border: none;
  width: 20px;
  height: 25px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 1px;
  cursor: pointer;
}

.minus {
  padding-bottom: 3px;
  cursor: pointer;
}

.trashIcon {
  background-color: #ee646470;
  border: 2px solid var(--border-color);
  height: 85px;
  display: flex;
  align-items: center;
  padding: 0 6%;
  opacity: 0.85;
  color: rgb(29, 28, 28);
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.display {
  display: 'block';
}

.total {
  background-color: #f8f7f7bb;
  border: 1px solid #ccc;
  border-radius: 2px;
  position: absolute;
  bottom: -50%;
  right: 0%;
  font-weight: 500;
  padding: 1% 2%;
}
@media screen and (max-width: 1400px) {
  .product {
    width: max(50vw, 500px);
  }
}
@media screen and (max-width: 650px) {
  .product {
    width: 90vw;
  }

  .productName {
    width: 80%;
  }
}
