.all {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: start;
}

.container {
  margin: 4% auto;
  position: relative;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding-bottom: 1.8%;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5%;
  padding: 3.5% 3.5%;
  width: 32vw;
  border-radius: 5px;
  border-bottom: 1px solid var(--border-color);
}

.containerQuantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.quantity {
  font-weight: 500;
  font-size: 17px;
}

.rightPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-right: 2%;
}
.minus,
.plus {
  color: #646464;
  border: none;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  font-size: 22px;
  cursor: pointer;
}

.quantity {
  padding-top: 2px;
  color: #474747;
}
.plus {
  padding-top: 2px;
}

.trashIcon {
  color: var(--primary-color);
  height: 15px;
  display: flex;
  align-items: center;
  padding: 0 6%;
  opacity: 0.85;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.display {
  display: 'block';
}

.total {
  padding: 3% 2%;
  font-weight: 500;
  color: var(--secondary-color);
  padding-right: 1px;
}

.totalContainer {
  position: absolute;
  bottom: 0px;
  right: 0%;
  width: 175px;
  text-align: center;
}

.totalText {
  font-weight: 400;
  letter-spacing: 0.035em;
  font-weight: 500;
  padding-top: 2%;
  color: var(--secondary-color);
}
.noProducts {
  border: 1px solid transparent !important;
  background-color: transparent;
  width: 40vw;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.productName {
  font-weight: 500;
}

@media screen and (max-width: 1600px) {
  .total {
    margin-right: -5px;
  }
}
@media screen and (max-width: 1400px) {
  .product,
  .noProducts {
    width: max(50vw, 500px);
  }
}
@media screen and (max-width: 650px) {
  .container {
    margin-top: 10%;
    padding-bottom: 7%;
  }

  .product,
  .noProducts {
    width: 90vw;
    margin-left: 2%;
  }

  .totalContainer {
    width: 150px;
    padding-bottom: 1%;
  }
  .noProducts {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 30px;
  }
  .productName {
    width: 80%;
  }

  .total {
    bottom: -80px;
    margin-right: -5px;
  }
}
