.all {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: start;
}

.container {
  padding-left: var(--padding-center-xl);
  padding-top: 4%;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #31313138;
  background-color: rgb(253, 253, 253);
  margin-bottom: 1%;
  padding: 1% 0.9%;
  width: 30vw;
  border-radius: 5px;
}

.containerQuantity {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.quantity {
  font-weight: 500;
  font-size: 17px;
}

.minus,
.plus {
  background-color: #242424bb;
  color: #f8f8f8;
  border: none;
  width: 20px;
  height: 25px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 1px;
}

.minus {
  padding-bottom: 3px;
}

.trashIcon {
  background-color: #ee646470;
  border: 2px solid var(--border-color);
  height: 85px;
  display: flex;
  align-items: center;
  padding: 0 1%;
  opacity: 0.85;
  color: rgb(29, 28, 28);
  border-radius: 5px;
}

.hidden {
  display: none;
}

.display {
  display: 'block';
}
