.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 65px;
}

.left {
  display: flex;
  flex-direction: column;
}
.right {
  position: relative;
  width: 50%;
}

.desc {
  width: 100%;
  padding-top: 1%;
}

.more {
  position: absolute;
  right: 1%;
  bottom: 0%;
}

.price {
  text-align: end;
}

.tags {
  color: #464545;
}

.btn {
  background-color: #e2e2e2bb;
  color: #0c0c0c;
  border: 1px solid #ccc;
  padding: 3%;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  cursor: pointer;
}

.back {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid transparent;
}

@media screen and (max-width: 1400px) {
  .container {
    left: 45%;
  }

  .right,
  .desc {
    width: 130% !important;
  }

  .more {
    right: -20%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    left: 47%;
  }

  .image {
    display: none;
  }

  .right,
  .desc {
    width: 100% !important;
  }

  .more {
    right: 70%;
    bottom: -100px;
  }

  .price {
    text-align: start;
  }

  .btn {
    position: absolute;
    bottom: -200px;
  }

  .back {
    bottom: -120%;
    left: 50%;
  }
}

@media screen and (max-width: 530px) {
  .btn {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 140px;
    padding: 5% 0%;
  }

  .price {
    text-align: center;
  }

  .container {
    left: 50%;
    top: 7%;
    text-align: center;
    width: 79%;
  }

  .title {
    font-size: 20px;
    padding-bottom: 12px;
  }

  .tags {
    text-align: center;
  }

  .right {
    width: 99% !important;
  }
  .more {
    right: 50%;
    transform: translateX(50%);
  }

  .back {
    bottom: -120%;
  }
}
